RewriteEngine on

RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_FILENAME} !-f

#RewriteRule ^(.*)$ public/index.php?url=$1 [L,QSA]

RewriteRule ^(.*)$ public/index.php [QSL]

RewriteRule ^(.*).css$ public/css/$1
options -indexes
